<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">





  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchPageServlet</servlet-name>
    <servlet-class>com.zyl.bicycle.servlet.SearchPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.zyl.bicycle.servlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BikeSortPageServlet</servlet-name>
    <servlet-class>com.zyl.bicycle.servlet.BikeSortPageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>YuDingServlet</servlet-name>
    <servlet-class>com.zyl.bicycle.servlet.YuDingServlet</servlet-class>
  </servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.zyl.bicycle.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerServlet</servlet-name>
    <servlet-class>com.zyl.bicycle.servlet.CustomerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ServicerServlet</servlet-name>
    <servlet-class>com.zyl.bicycle.servlet.ServicerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BikeServlet</servlet-name>
    <servlet-class>com.zyl.bicycle.servlet.BikeServlet</servlet-class>
  </servlet>












 
  <servlet-mapping>
    <servlet-name>SearchPageServlet</servlet-name>
    <url-pattern>/SearchPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BikeSortPageServlet</servlet-name>
    <url-pattern>/BikeSortPageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>YuDingServlet</servlet-name>
    <url-pattern>/YuDingServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerServlet</servlet-name>
    <url-pattern>/CustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServicerServlet</servlet-name>
    <url-pattern>/ServicerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BikeServlet</servlet-name>
    <url-pattern>/BikeServlet</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
